{% extends "layout.html" %}

{% block main %}
<form action="{{ url_for('message.add_message') }}" method="post" class="card border-secondary mb-3" data-test="send-form">
  <fieldset>
    <legend class="card-header h5 border-secondary bg-dark text-light">📩 Отправить письмо</legend>
    <div class="card-body">
      <!--<div class="mb-3" data-test="send-alert">-->
      <!--  <div class="alert alert-warning">Загрузка...</div>-->
      <!--</div>-->

      {% if error %}
        <div class="mb-3" data-test="send-alert">
          <div class="alert alert-danger">{{ error }}</div>
        </div>
      {% endif %}

      {% if new_message %}
        <div class="mb-3" data-test="send-alert">
          <div class="alert alert-success">Сообщение отправлено</div>
        </div>
      {% endif %}

      <div class="mb-3">
        <label for="sender" class="form-label">От кого:</label>
        <input id="sender" name="sender" value="{{ request.form['sender'] }}" class="form-control" type="text" placeholder="Имя отправителя" />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Сообщение:</label>
        <textarea id="message" name="message" class="form-control" placeholder="Текст сообщения">{{ request.form['message'] }}</textarea>
      </div>
      <div class="d-flex">
        <button class="btn btn-outline-success ms-auto">✏️ Отправить</button>
      </div>
    </div>
  </fieldset>
</form>

<ul class="list-unstyled">
  {% for message in messages %}
    <li class="mb-3">
      {% include 'message.html' %}
    </li>
  {% endfor %}
</ul>
{% endblock %}